{% load currency %}
{% load static %}
	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

                    {% for rs in products_slider %}
                    <!-- banner -->
					<div class="banner banner-1">
						<img src="{{ rs.image.url }}" alt="" style="height: 600px">
						<div class="banner-caption text-center">
							<h1> 미술관이 당신의 집으로 찾아갑니다.   </h1>
						</div>
					</div>
					<!-- /banner -->
                    {% endfor %}

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->